/* Reset default styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Apply default font and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
